<a href="https://colab.research.google.com/github/weireagan/reaganpython/blob/master/%E7%B0%A1%E6%98%93%E8%AE%80%E5%8F%96%E8%B2%A1%E5%A0%B1%E4%B8%A6%E5%88%86%E6%9E%901.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [0]:
###讀取上市公司財報

In [0]:
df=pd.read_csv("http://mopsfin.twse.com.tw/opendata/t187ap14_L.csv")

In [0]:
###引入套件

In [26]:
 !pip install twstock

Requirement already satisfied: twstock in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from twstock) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->twstock) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->twstock) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->twstock) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->twstock) (3.0.4)

In [0]:
import twstock

In [28]:
df.head()

        出表日期   年度  季別  公司代號  ...        營業收入        營業利益    營業外收入及支出       稅後淨利
0  109/06/07  109   1  1101  ...  21976200.0  4460154.00   273722.00  3481119.0
1  109/06/07  109   1  1102  ...  13138882.0  2021639.00  -453351.00  1130599.0
2  109/06/07  109   1  1103  ...    495334.0  -158911.00   -46824.00  -214194.0
3  109/06/07  109   1  1104  ...   1253758.0    67425.00   -16843.00    48161.0
4  109/06/07  109   1  1108  ...   1104720.0   110132.00    -5836.00    93609.0

[5 rows x 12 columns]

In [0]:
###採用產業類別區分並計算產業平均

In [29]:
dfsum=df.groupby(by=["產業別"]).sum()
dfsum.head()

         年度  季別    公司代號  基本每股盈餘(元)          營業收入         稅後淨利
產業別
光電業    7630  70  304583      52.39  2.514231e+08   -9003584.0
其他     7957  73  548843      54.87  2.131018e+08   17239921.0
其他電子業  4033  37  146050      19.06  1.032339e+09    9275342.0
化學工業   3270  30   77888      11.43  6.117284e+07    2547155.0
半導體業   7957  73  312793      69.48  6.971161e+08  146426465.0

In [0]:
EPSav=dfsum["基本每股盈餘(元)"].values/(dfsum["季別"].values/3)
incomeav=dfsum["營業收入"].values/(dfsum["季別"].values/3)
taxav=dfsum["稅後淨利"].values/(dfsum["季別"].values/3)

In [0]:
dfsum.insert(3,"EPS平均",value=EPSav)

In [0]:
dfsum.insert(5,"營業收入平均",value=incomeav)
dfsum.insert(7,"稅後淨利平均",value=taxav)

In [33]:
dfsum.head()

         年度  季別    公司代號  ...          營業收入        稅後淨利平均         稅後淨利
產業別                      ...
光電業    7630  70  304583  ...  2.514231e+08 -3.858679e+05   -9003584.0
其他     7957  73  548843  ...  2.131018e+08  7.084899e+05   17239921.0
其他電子業  4033  37  146050  ...  1.032339e+09  7.520548e+05    9275342.0
化學工業   3270  30   77888  ...  6.117284e+07  2.547155e+05    2547155.0
半導體業   7957  73  312793  ...  6.971161e+08  6.017526e+06  146426465.0

[5 rows x 9 columns]

In [0]:
###EPS高於產業平均

In [35]:
dfav=dfsum[["EPS平均","營業收入平均","稅後淨利平均"]]
df_merge=df.merge(dfav,left_on="產業別",right_on="產業別")

df_merge[df_merge["EPS平均"]<df_merge["基本每股盈餘(元)"]].head()

         出表日期   年度  季別  公司代號  ...       稅後淨利     EPS平均        營業收入平均        稅後淨利平均
0   109/06/07  109   1  1101  ...  3481119.0  0.420000  1.693818e+07  1.990938e+06
21  109/06/07  109   1  1232  ...   273011.0  1.185000  2.305572e+07  1.336852e+06
32  109/06/07  109   1  1305  ...   348704.0  0.512857  3.151970e+07 -4.368920e+05
41  109/06/07  109   1  1321  ...   302237.0  0.512857  3.151970e+07 -4.368920e+05
42  109/06/07  109   1  1323  ...    83315.0  0.512857  3.151970e+07 -4.368920e+05

[5 rows x 15 columns]

In [0]:
###列出五個公司(利用EPS、營業收入、稅後淨利來看有哪些公司都高於產業平均)

In [43]:
df_merge[(df_merge["EPS平均"]<df_merge["基本每股盈餘(元)"])&(df_merge["營業收入平均"]<df_merge["營業收入"])&(df_merge["稅後淨利平均"]<df_merge["稅後淨利"])].head()

          出表日期   年度  季別  公司代號  ...       稅後淨利     EPS平均        營業收入平均        稅後淨利平均
0    109/06/07  109   1  1101  ...  3481119.0  0.420000  1.693818e+07  1.990938e+06
118  109/06/07  109   1  2207  ...  4077415.0  1.423125  1.207244e+07  6.516927e+05
133  109/06/07  109   1  1402  ...  2883463.0 -0.138000  7.874129e+06  1.557228e+05
142  109/06/07  109   1  1434  ...   354098.0 -0.138000  7.874129e+06  1.557228e+05
193  109/06/07  109   1  5871  ...  4100047.0  2.254932  8.757610e+06  7.084899e+05

[5 rows x 15 columns]